.cover {
    position: relative;
    background-image: url(../img/cover.jpg);
    @extend %background-img;
    height: 500px;
    .cover__content {
        max-width: 500px;
        position: absolute;
        top: 50%;
        left: 12%;
        transform: translateY(-50%);
        h1 {
            @include style-text($color-white-0, $fs-2, $fw-2);
        }
        p {
            @include style-text($color-white-0, $fs-3, $fw-0);
        }
        .cover__form {
            @include style-FormSearch($color-white-0, $color-white-0, $color-white-0, $color-black-light);
        }
    }
    @include responsive("small") {
        .cover__content {
            max-width: 400px;
            left: 10%;
        }
    }
}