@mixin style-button($color, $bg-color, $fs, $fw, $pd-y, $pd-x, $border-radius, $border-color) {
    color: $color;
    background-color: $bg-color;
    font-size: $fs;
    font-weight: $fw;
    padding: $pd-y $pd-x;
    border-radius: $border-radius;
    border-color: $border-color;
}
@mixin style-text($color, $fs, $fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}
@mixin responsive($screen) {
    @if map-has-key($map: $breakpoints, $key: $screen) {
        $value: map-get($map: $breakpoints, $key: $screen);
        @media screen and (max-width: $value) {
            @content;
        }
    }
    @else {
        @warn "`{screen}` isn't valid";
    }
}