#footer {
    padding: $pd-6 $pd-8;
    background-color: $color-grey;
    flex-wrap: wrap;
    h1 {
        font-size: $font-size-2;
        font-weight: $font-weight-bold;
        color: $color-dark-blue-200;
        margin-bottom: $mg-3;
    }
    .footer-detail {
        ul {
            li {
                margin-bottom: $mg-2;
                a {
                    font-size: $font-size-1;
                    color: $color-blue-200;
                }
            }
        }
    }
    .footer-contact {
        width: 100%;
        margin-top: $mg-3;
        border-top: $border-2;
        padding: $pd-3 0;
        .contact-left {
            i {
                @include social-media-icon;
            }
        }
        .contact-right {
            text-align: right;
            p {
                font-size: $font-size-1;
                color: $color-dark-blue-200;
                margin-bottom: $mg-2;
            }
            button {
                margin-bottom: 0;
            }
        }
    }
}