#navbar {
    @media screen and (max-width: 576px) {
        a {
            padding: $pd-1 + 3 $pd-2;
            &:first-child {
                @media screen and (max-width: 576px) {
                    padding: $pd-1 $pd-2;
                }
            }
        }
        .discovers-menu {
            &::before {
                @include arrow(10%, unset);
                top: 4rem;
            }
        }
    }
}
#search-area-xs {
    @media screen and (max-width: 576px) {
        background-color: $color-blue-100;
        padding: $pd-1;
        &::before {
            border-bottom-width: 0;
        }
        i {
            color: $color-white;
            font-size: $font-size-1;
        }
        input {
            width: 60%;
            height: 3rem;
            font-size: $font-size-1;
            border: 1px solid $color-white;
            color: $color-white;
            border-radius: 6px;
            background-color: transparent;
            outline: none;
            &::placeholder {
                color: $color-white;
            }
        }
    }
}
#vehicles {
    #vehicles-content {
        .vehicles-nav {
            ul li {
                @media screen and (max-width: 576px) {
                    display: inline-block;
                    margin-bottom: $mg-2;
                }
            }
            ul li a {
                @media screen and (max-width: 576px) {
                    padding: $pd-1 $pd-2;
                    border: none;
                }
            }
        }
    }
}
.intro {
    .intro-container {
        .intro-right {
            @media screen and (max-width: 576px) {
                background-image: url(../../img/our-vehicles-intro-2.jpg);
                margin-top: $mg-2;
                .intro-right-content {
                    h4,
                    p,
                    button {
                        font-size: $font-size-5;
                        padding: $pd-1;
                    }
                    p {
                        margin-bottom: $mg-2 - 5;
                    }
                }
            }
        }
        .intro-left {
            @media screen and (max-width: 576px) {
                .intro-left-content {
                    font-size: $font-size-5;
                }
            }
        }
    }
}

// OUR VEHICLES
#our-vehicles {
    .carousel-caption-config {
        @media screen and (max-width: 576px) {
            width: 60%;
            left: 20%;
            margin: auto;
            text-align: center;
            top: unset;
            bottom: 15%;
            font-size: $font-size-1 - 0.2;
            img {
                width: 100%;
            }
            .carousel-caption-detail {
                .carousel-detail-content {
                    h2 {
                        font-size: $font-size-3;
                    }
                    p {
                        font-size: $font-size-1 - 0.4;
                    }
                }
            }
        }
    }
    .carousel-caption-footer {
        @media screen and (max-width: 576px) {
            width: 100%;
            border: none;
            bottom: 8%;
        }
    }
    .carousel-control-next,
    .carousel-control-prev {
        i {
            @media screen and (max-width: 576px) {
                font-size: $font-size-3;
                padding: $pd-2;
            }
        }
    }
    .carousel-control-next {
        @media screen and (max-width: 576px) {
            right: 0;
        }
    }
    .carousel-control-prev {
        @media screen and (max-width: 576px) {
            left: 0;
        }
    }
    @media screen and (max-width: 576px) {
        .carousel-indicators-xs {
            position: absolute;
            top: 0;
            left: 20%;
            z-index: 9;
        }
        .carousel-inner {
            top: $mg-4;
        }
        > h1 {
            font-size: $font-size-6;
        }
    }
    .services-container {
        .services-item {
            div {
                @media screen and (max-width: 576px) {
                    top: 40%;
                    width: 100%;
                }
            }
        }
    }
    
}


// SEARCH FOOTER
#search-footer {
    @media screen and (max-width: 576px) {
        padding: 0;
        flex-wrap: wrap;
        div {
            width: 100%;
            border-top: $border-3;
            border-right: none;
            padding: $pd-1 $pd-2;
            input {
                width: 65%;
            }
            .btn-search {
                @include button($color-blue-100, $color-white, $color-blue-100, $pd-1 $pd-2, $color-blue-100, $color-white)
            }
        }
        p {
            padding: $pd-2;
            text-align: center;
        }
    }
    @media screen and (max-width: 440px) {
        div {
            input {
                width: 60%;
                font-size: $font-size-1;
            }
        }
    }
}